* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #c6ffc5;

    display: grid;
    min-height: 100vh;
    grid-template-columns: 220px 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";

    gap: 20px;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


header {
    grid-area: header;
    background-color: #0a2342;
    color: rgb(0, 251, 255);
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav {
    grid-area: aside;
    padding: 30px 20px;
    align-self: start;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a2342;
    color: #a0b1c5;
    padding: 25px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

header img {
    font-size: 1rem;
}

header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: rgb(0, 221, 255);
    text-decoration: none;
    padding: 1rem
}

nav li a:hover {
    background-color: rgba(0, 221, 255, 0.150);
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}